HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/docker-compose-files/dear-comrade-service/data/grafana/storage/
/docker-compose-files/dear-comrade-service/data/grafana/png/
/docker-compose-files/dear-comrade-service/data/grafana/alerting/
/docker-compose-files/dear-comrade-service/data/grafana/csv/
/docker-compose-files/dear-comrade-service/data/grafana/grafana.db
